.schedule .tray {
    position: relative;
    transition: transform 400ms 120ms;
    transform: translateY(150%);
}

.schedule .tray.animate-reveal {
    transform: translateY(0);
}

.schedule .catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, 140px);
    gap: 10px;
}

.moviedetailswindow {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
}

.moviedetailswindow .detail {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.moviedetailswindow .detail .cover {
    margin: 0 auto var(--lumo-space-l);
    width: 200px;
    max-width: 100%;

}

.moviedetailswindow .fields {
    max-width: 600px;
    margin-left: var(--lumo-space-l);
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 100px 1fr;
    gap: var(--lumo-space-m);
}

.moviedetailswindow .fields .label {
    font-weight: 600;
}